# executables
/cmd/fakesensor/fakesensor
/cmd/fakesensor/fakesensor.exe
/cmd/pinger/pinger
/cmd/pinger/pinger.exe
/cmd/protoclient/protoclient
/cmd/protoclient/protoclient.exe
/cmd/server/server
/cmd/server/server.exe

/cmd/server/config

# webinterface folder
/static/

*.sublime-workspace

.DS_Store
